<html>
<head></head>
<body>
  <form>
    <input type='text' name='guess' />
    <input type='submit' value='Guess!' />
  </form>
  <p>
    <% if guess.to_i == static%>
    The SECRET NUMBER is <%= static %>
    <% end %>
    <%= message %>
  </p>
 </body>
</html>
